
.error {
  color: red;

  i {
    background: red;
    color: $pure;
  }

  p {
    font-weight: 700;
    color: $dark;
  }
}

.success {
  color: rgb(52, 223, 52);

  i {
    background: green;
    color: $pure;
  }

  p {
    font-weight: 700;
    color: $dark;
  }
}

.alert {
  position: fixed;
  width: 250px;
  top: 10px;
  right: 10px;
  background: #eaeaea;
  padding: 1rem;
  z-index: 2424;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;

  p {
    font-size: 0.9rem;
  }

  i {
    border-radius: 20px;
    color: $secondary;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
  }
}