

.footer {
  padding: 0.4rem;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
  max-width: 1240px;
  align-items: center;
  background: none;
  height: 70px;

  h2 {
    font-size: 1rem;
    color: #ffffff;
    flex: 4;
    letter-spacing: 3px;
  }

  ul {
    justify-content: space-around;
    align-items: center;
    flex: 2;
    //padding-right: 8px;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      a {
        color: $light;
        letter-spacing: 3px;
        font-weight: 500;
        gap: 6px;
        font-size: 1rem;
      }
    }
  }
}