
.home {
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background: $light;
  max-width: 12400px;
  height: 100vh;
  /*gap: 1rem;*/

  .para {
    width: 50%;
    align-items: flex-start;
    padding: 1rem;

    h2 {
      font-size: 2rem;
      color: $dark;
      letter-spacing: 3px;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: #383737;
      line-height: 1.5rem;
      letter-spacing: 2px;
      max-width: 450px;
      margin-bottom: 50px;
    }

    .link {
      align-self: flex-start;
      margin-top: 2rem;

      a {
        background: $dark;
        color: $light;
        box-shadow: -5px 5px 10px rgba(255,255,255,0.3);
        font-weight: 500;
        font-size: 1rem;
        border-radius: 2px;
        transition: 0.3s;

        &:hover {
          background: $primary;
          color: $light;
          transition: 0.3s;
        }
      }
    }
  }

  .image {
    width: 50%;
    max-width: 350px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    background: white;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;
    }
  }
}