
.home {
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background: $dark;
  max-width: 12400px;
  height: 100vh;

  .para {
    width: 50%;
    align-items: flex-start;
    padding: 1rem;
    min-width: 250px;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      color: $pure;
      letter-spacing: 2px;
      text-align: left;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 90%;
        left: -20px;
        top: 20px;
        background: $heading;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: $para;
      line-height: 1.5rem;
      letter-spacing: 2px;
      max-width: 450px;
      margin-bottom: 50px;
    }

    .link {
      align-self: flex-start;
      margin-top: 2rem;

      a {
        background: $heading;
        color: $pure;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 2px;
        transition: 0.2s;

        &:hover {
          background: $pure;
          color: $primary;
          transition: 0.2s;
        }
      }
    }
  }

  .image {
    width: 50%;
    max-width: 350px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    //background: linear-gradient(360deg, $primary, $pure, $pure);

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      //mix-blend-mode: multiply;
    }
  }
}