
.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 70px;
  background: none;

  h1 {
    font-size: 1rem;
    letter-spacing: 2px;
    color: $light;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      padding: 1rem;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 1rem;
      transition: cubic-bezier(0.39, 0.575, 0.565, 1);
      color: #c7c3c3;

      &:hover {
        color: $primary;
        transition: 0.3s;
      }
    }
  }

  .menu {
    font-size: 1.5rem;
    color: $light;
  }
}