
.projects {
  padding-bottom: 3rem;

  h2 {
    margin-top: 5rem;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
  }

  .list {
    flex-wrap: wrap;
    gap: 0.9rem;
    padding: 0;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;

    .card {
      background: rgba(0,0,0,10);
      //height: 400px;
      box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
      width: 300px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      .container-img {
        height: 50%;

        img {
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
        }
      }

      .container {
        height: 50%;
        padding: 1rem;

        h3 {
          color: $light;
          letter-spacing: 3px;
          text-align: center;
          margin: 0;
          font-size: 1.5rem;
        }

        p {
          color: $secondary;
          letter-spacing: 2px;
          height: 60px;
          margin-top: 20px;
          overflow-y: scroll;
          font-size: 0.9rem;
        }

        .links {
          position: relative;
          width: 100%;
          gap: 10px;
          align-items: center;
          justify-content: center;

          & > * {
            color: $light;
            border: 1px solid $light;
            padding: 6px 19px;
            font-size: 0.8rem;
            font-weight: 700;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 4px;
          }
        }
      }
    }
  }
}