@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
  --primary: rgb(33, 59, 129);
  --secondary: rgb(197, 197, 233);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 233);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(135, 195, 235);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul {
  list-style: none;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.grid {
  height: 100vh;
  display: grid;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.rounded {
  padding: 14px 30px;
}

.wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

#app {
  max-width: 1240px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.navbar h1 {
  font-size: 1rem;
  letter-spacing: 2px;
}

.navbar > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar > .links a {
  padding: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 0.8rem;
}

.home {
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background: #000000;
  max-width: 12400px;
  height: 100vh;
  /*gap: 1rem;*/
}

.home .para {
  width: 50%;
  align-items: flex-start;
  padding: 1rem;
}

.home > .para > h2 {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 3px;
}

.home > .para > p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary);
  line-height: 1.7rem;
  letter-spacing: 2px;
  max-width: 450px;
  margin-bottom: 50px;
}

.home > .para .link {
  align-self: flex-start;
  justify-self: flex-end;
}

.home  .para {
  padding: 0.5rem;
}

.home .para > .link a {
  background: #ffffff;
  color: #000000;
  box-shadow: -5px 5px 10px rgba(255,255,255,0.3);
  font-weight: 700;
  padding: 12px 36px;
}

.home .image {
  width: 50%;
  max-width: 450px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.home .image > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* PROJECTS Section */

.projects h2 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3px;
}

.projects > .list {
  flex-wrap: wrap;
  gap: 0.9rem;
  padding: 0;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
}


.projects > .list > .card {
  background: rgba(0,0,0,10);
  height: 400px;
  box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
  width: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.projects > .list > .card > .container.img {
  height: 50%;
}
.projects > .list > .card > .container-img > img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.projects > .list > .card > .container {
  height: 50%;
  padding: 1rem;
}

.projects > .list > .card > .container > h3 {
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.projects > .list > .card > .container > p {
  color: var(--secondary);
  letter-spacing: 3px;
  height: 60px;
  margin-top: 20px;
  overflow-y: scroll;
}

.projects > .list > .card  > .container > .links {
  position: relative;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.projects > .list > .card > .container > .links > * {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 19px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 4px;
}

.showcase {
  grid-template-columns: repeat(2,minmax(450px, 1fr));
  background: linear-gradient(170deg, #181616, #2e2d2d);
  place-items: center;
  place-content: center;
}

.showcase .skills {
  align-items: center;
  background: #dedede;
  border-radius: 6px;
  padding: 2rem;
}

.showcase .skills h3 {
  font-size: 3rem;
}

.showcase .skills ul {
  font-size: 2rem;
  padding: 1rem;
  gap: 1rem;
}

.showcase .contact-me {
  background: linear-gradient(140deg, var(--primary), var(--primary));
  border-radius: 6px;
  width: 80%;
  margin-right: 20px;
}

.showcase .contact-me .wrapper {
  padding: 2rem;
}

.showcase .contact-me .wrapper h3 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  padding: 0;
}

.showcase .contact-me .wrapper form {
  align-self: center;
}

.showcase .contact-me .wrapper form div .input {
  gap: 20px;
  border-radius: 120px;
  background: white;
  padding: 5px 20px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.showcase .contact-me .wrapper form div .input span {
  border-radius: 100%;
  background: #eceaea;
  padding: 9px;
  width: 25px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.showcase .contact-me .wrapper form div .input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1rem;
  margin-right: auto;
  font-weight: 700;
}

.showcase .contact-me .wrapper form div .input input:focus {
  outline: none;
}

.showcase .contact-me .wrapper form .message {
  border-radius: 8px;
  resize: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
  border: none;
}

.showcase .contact-me .wrapper form .message:focus {
  outline: none;
}

.showcase .contact-me .wrapper form .submit-btn {
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.showcase .contact-me .wrapper form .submit-btn .submit {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background: white;
  color: var(--primary);
  transition: 0.3s;
}

.showcase .contact-me .wrapper form .submit-btn .submit:hover {
  cursor: pointer;
  background: #000000;
  color: var(--secondary);
  transition: 0.3s;
}

.footer {
  padding: 0.2rem;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
  max-width: 1240px;
}

.footer h2 {
  font-size: 1rem;
  color: #000000;
  flex: 4;
  letter-spacing: 3px;
}

.footer > ul {
  justify-content: space-between;
  align-items: center;
  flex: 2;
  padding-right: 8px;
}

.footer > ul > li > a{
  color: #000000;
  letter-spacing: 3px;
  font-weight: 500;
  gap: 6px;
}

/* NAV MOBILE Modal */
.nav-mobile-modal {
  position: fixed;
  touch-action: none;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  z-index: 555;
  background: #ffffff;
  padding: 0.5rem;
  justify-content: center;
}

.nav-mobile-modal .close {
  align-self: flex-end;
}

.nav-mobile-modal .close a {
  font-size: 3rem;
  padding: 1rem;
}

.nav-mobile-modal h3 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2rem;
}

.nav-mobile-modal .special {
  padding: 12px 28px;
  background: #000000;
  border-radius: 2px;
}

.nav-mobile-modal .special a {
  color: white;
  font-size: 1.2rem;
}

.nav-mobile-modal ul {
  margin-top: 4rem;
  position: relative;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  height: 50%;
  font-size: 1.3rem;
}

.nav-mobile-modal .socmed {
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  font-size: 2rem;
  margin-top: 0;
  padding-top: 0;
}

/* MEDIA QUERY */
@media only screen and (max-width: 900px){
  .navbar {
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar .links {
    display: none;
  }
  .navbar .menu {
    display: block;
  }
  .home {
    flex-direction: column-reverse;
  }
  .home .para {
    width: 100%;
    height: 50%;
  }
  
  .home .para h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .home .para p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .home .image {
    width: 100%;
    height: 50%;
  }
  
  .projects .list {
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
  }
  .projects h2 {
    font-size: 1.5rem;
  }
  .card .container h3 {
    font-size: 1.2rem;
  }
  .card .container p {
    font-size: 1rem;
  }

  .footer ul {
    font-size: 0.8rem;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
    font-size: 1rem;
  }
  
  .footer ul li a {
    align-items: flex-start;
    gap: 6px;
  }
  
  .contact-me-modal form {
    width: 100%;
  }
  .showcase {
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
  }
}

@media only screen and(max-width: 420px) {
  .projects .list {
    padding: 0;
    margin: 0;
  }
}