body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.app {
  max-width: 1240px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar > .links a {
  padding: 1rem;
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}